@font-face {
    font-family: 'wfont';
    src: url('../assets/fonts/wfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'josefinBold';
    src: url('../assets/fonts/JosefinSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'josefinMedium';
    src: url('../assets/fonts/JosefinSans-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }